*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
MANIFEST
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
junit.xml
nosetests.xml
coverage.xml
htmlcov/

# virtualenvs
*.venv/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Editor files
*.swp
*.swo
