os:
    - linux

language: python

python:
    - 2.6
    - 2.7
    - pypy
    - 3.2
    - 3.3
    - 3.4
    - 3.5
    - 3.6
    - pypy3

before_script:
    - pip install -r requirements-dev.txt

script:
    - python sh.py travis
    - python setup.py check --restructuredtext --metadata --strict

after_success:
    - coveralls
